DATABASE_URL = "postgresql://postgres:asdf@127.0.0.1:5432/asdf"

REDIS_URL = "redis://default@127.0.0.1:6379/?protocol=resp3"
JWT_SECRET = ""

IMAGEKIT_PUBLIC = ""
IMAGEKIT_PRIVATE = ""
IMAGEKIT_URL = ""

DISCORD_CLIENT_ID = ""
DISCORD_CLIENT_SECRET = ""
DISCORD_REDIRECT_URI = "http://localhost:8000/auth/discord"
DISCORD_REDIRECT_FULL = ""
DISCORD_TOKEN = ""

TELEGRAM_TOKEN = ""
TELEGRAM_REDIRECT = ""

BACKEND_URL = "http://localhost:8000"
